.hamburger {
    display: none;
    cursor: pointer;
    position: fixed;
    left: 80%;
    top: 2.5%;
    margin-bottom: 20px;
}

.nav {
    display: none;
}

nav.open {
    display: block;
}

@media screen and (max-width: 768px) {
    .hamburger {
        display: block;
    }
}