.hamburger {
    display: none;
    cursor: pointer;
    position: fixed;
    left: 80%;
    top: 2.5%;
    margin-bottom: 20px;
}

.nav {
    display: none;
}

.nav.open {
    display: block;
    text-align: right;
    padding-right: 15%;
    margin-top: -20px;
}

nav ul {
    list-style: none;
}

@media screen and (max-width: 768px) {
    .hamburger {
        display: block;
    }
    .ham-menu {
        font-weight: bold;
        text-decoration: none;
        color: #333333;
        text-align: right;
    }
}