Nav {
    font-family: "Karla", sans-serif;
    font-weight: bold;
    font-size: 20px;
    color:#333333;
}

p {
    font: "Karla", sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5px;

}

h1, h2 {
    font-family: "Markazi", serfif;
    font-size: 64px;
    font-weight: 500;
    color: #333333;
}
img {
    border-radius: 16px;
}

h3 {
    font: "Markazi", serif;
    font-size: 40px;
    font-weight: 500;
    color: #333333;
}
#header-area {
    background-color: rgb(180, 96, 96);
    padding-bottom: 0;
    margin-bottom: 0;
}

#top-logo{
    display: flex;
    flex-wrap: wrap;
    padding-left: 12vw;
    padding-top: 5vw;
    padding-bottom: 15px;

}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 1px solid black;
}

#footer-menu {
    list-style: none;
}

@media (max-width: 768px) {
    #header-menu {
        display: none;
    }
}

#hero-section {
    background-color: rgb(73,94,87);
    margin-top: -30px;
    padding-top: 0;
}

#card-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

#card {
    padding: 20px;
    box-shadow: #bbbbbb 1px 1px 10px 1px;
    border-radius: 16px;
    margin: 20px;
    max-width: 350px;
}

.description-text {
    line-height: 1.5;
    display: block;
    white-space: normal;
}

#card-image {
display: block;
   width: 100%;
}