#header-area {
    background-color: wheat;
}

#header-menu {
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    justify-items: space-around;
    gap: 30px;
    list-style: none;
    padding-right:30px;

}